/* << 1 >> */
.parent {
  background-color: #eeeeee;
  width: 1000px;
  padding: 0;
  text-align: center;
}

.ex-1 {
  padding: 10px 0;
  background-color: #dddddd;
  float: left;
  margin-bottom: 15px;
  margin-left: 15px;
}

.fr {
  margin: 15px;
  width: calc(100% - 30px);
}

.secr {
  width: calc((100% - 60px) / 3);
}

.thirdr {
  width: calc((100% - 45px) / 2);
}

.fourthrow {
  width: calc((100% - (5 * 15px)) / 4);
}

.clear {
  clear: both;
}

/* << 2 >> */

.div {
  margin: 20px auto;
  width: 300px;
  font-weight: bold;
  font-size: 1rem;
  padding: 20px;
  background-color: #b3b3b3;
  color: black;
}

.one {
  background-color: rgba(179, 179, 179, 0.1);
}

.two {
  opacity: 0.1;
}
