body {
  font-family: Arial, Helvetica, sans-serif;
}

/* << 1 >> */
/* div {
  height: 100px;
  width: 100px;
  position: absolute;
}

.green {
  background-color: #009688;
  top: 40px;
  left: 40px;
  z-index: 3;
}

.red {
  background-color: #f44336;
  top: 60px;
  left: 60px;
  z-index: 4;
}

.blue {
  background-color: #03a9f4;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.black {
  background-color: #333333;
  top: 40px;
  left: 20px;
  z-index: 1;
} */

/* << 2 >> */
.ex-2 {
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  padding: 20px 25px;
  margin: auto;
  background-color: #eeeeee;
  border: 2px solid;
  border-color: red #2196f3;
  position: relative;
}

span {
  background-color: #2196f3;
  color: white;
  padding: 4px 12px;
  position: absolute;
}

.top-left {
  top: -10px;
  left: -10px;
  border-right: 2px solid red;
}

.bottom-left {
  bottom: -10px;
  left: -10px;
  border-right: 2px solid red;
}

.top-right {
  right: -10px;
  top: -10px;
  border-left: 2px solid red;
}

.bottom-right {
  bottom: -10px;
  right: -10px;
  border-left: 2px solid red;
}

/* << 3 >> */

.main-ul {
  width: 400px;
  margin: auto;
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #eeeeee;
  margin-bottom: 10px;
  padding: 10px;
}

ol {
  padding-left: 30px;
}

ol li {
  margin: 10px;
  background-color: white;
}

.js ul {
  padding-left: 0;
}

.js ul li {
  background-color: white;
  list-style-position: inside;
}

/* << 4 >> */

table {
  width: 700px;
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  border-bottom: 2px solid #32a599;
  border-spacing: 2px;
}

table caption {
  font-weight: bold;
  margin: 0 0 10px;
}

thead td {
  background-color: #404040;
  color: white;
  font-weight: bold;
  padding: 15px 10px;
}

tbody td {
  background-color: #eeeeee;
}

table img {
  width: 60px;
  height: 60px;
  margin: 5px;
  padding: 4px;
  border: 2px solid #e4e4e4;
}

table button {
  color: #ffffff;
  padding: 3px 10px;
  text-transform: capitalize;
  margin: 3px;
  font-weight: 600;
}

.view {
  background-color: #03a9f4;
}

.delete {
  background-color: #e91e63;
}
