* {
  box-sizing: border-box;
}

/* task_1 */

.ex-1 div {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #eeeeee;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 5px;
  border-left: 8px solid #f44336;
  position: relative;
  border-right: 8px solid #6639b6;
}

.ex-1 div::before {
  content: "";
  width: calc(100% + 16px);
  position: absolute;
  height: 8px;
  top: -5px;
  left: -8px;
  background: linear-gradient(
    to right,
    #f44336 20%,
    #2095f2 20%,
    #2095f2 40%,
    #4bae4f 40%,
    #4bae4f 60%,
    #e81d62 60%,
    #e81d62 80%,
    #6639b6 80%
  );
}

.ex-1 div::after {
  content: "";
  width: calc(100% + 16px);
  position: absolute;
  height: 8px;
  bottom: -5px;
  left: -8px;
  background: linear-gradient(
    to right,
    #f44336 20%,
    #2095f2 20%,
    #2095f2 40%,
    #4bae4f 40%,
    #4bae4f 60%,
    #e81d62 60%,
    #e81d62 80%,
    #6639b6 80%
  );
}

.ex-1 div::first-letter {
  color: red;
}

/* Pseudo elements can only apply to block-level elements, so ::first-letter won't work with display flex */


/* task_2 */

.ex-2 p {
  width: 600px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px auto;
  background-color: #eeeeee;
  padding: 15px;
  border: none;
  position: relative;
  color: #787b7e;
  outline: none;
  caret-color: red;
}

.ex-2 p:focus {
  color: black;
}

.ex-2 p::before {
  content: "";
  width: 600px;
  height: 3px;
  position: absolute;
  background: linear-gradient(to right, #f44336 50%, #029788 50%);
  bottom: -3px;
  left: 0;
}

/* pseudo-elements like ::after and ::before cannot be applied to <input> elements. They only work on elements that can contain other elements or text, and <input> is a self-closing (void) element, meaning it has no content. */
