body {
  font-family: Arial, Helvetica, sans-serif;
}

/* task_1 */

/* div {
  width: 300px;
  height: 60px;
  margin: 10px auto;
  font-weight: bold;
  text-align: center;
  background-color: #eeeeee;
  line-height: 60px; */
/* If you want to center text vertically, make the line-height equal to the height of the container, but that only works for single-line text. */
/* } */

/* div:empty {
  background-color: red;
} */

/* task_2 */

div {
  width: 400px;
  height: 60px;
  margin: auto;
  background-color: #d4d4d4;
  text-align: center;
  line-height: 60px;
}

div::first-letter {
  color: white;
  background-color: #ff0000;
  padding: 14px 9px;
  margin-left: -100px;
  margin-right: 20px;
}

/* task_3 */

.ex-3 {
  width: 400px;
  background-color: #efefef;
  margin: 10px auto;
  padding: 20px 15px;
  border-left: 5px solid #e91e63;
  position: relative;
}

.ex-3::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border: 10px solid;
  border-color: transparent #e91e63 transparent transparent;
  left: -23px;
  /* top: 50%;
  margin-top: -5px; */
}

.ex-3::after {
  content: attr(data-person);
  width: 60px;
  text-align: center;
  background-color: #efefef;
  padding: 10px 5px;
  position: absolute;
  left: -90px;
  top: 50%;
  margin-top: -19px;
}

/* task_4 */
.ex-4{
    width: 400px;
    height: 30px;
    line-height: 30px;
    background-color: #eeeeee;
    margin: 10px auto;
    padding: 20px 15px;
    border-right: 5px solid red;
    position: relative;
    counter-increment: p_number ;
}

.ex-4::before{
    content: counter(p_number);
    color: white;
    width: 70px;
    height: 100%;
    line-height: 70px;
    text-align: center;
    background-color: #ff0000;
    position: absolute;
    left: -70px;
    top: 0;

}